@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model TaskItemViewModels
<form asp-controller="TaskItem" asp-action="AddTaskItemAsync" method="POST">
    <div>Nom : <input asp-for="Name" /></div>
    <div>État : <select asp-for="State" asp-items="Html.GetEnumSelectList<TaskItem.StateType>()"></select></div>
    <div>Description: <input asp-for="Description" /></div>
    <div>Catégorie :  <select asp-for="CategoryId" asp-items="@Model.ListCategories"><option>Choisissez en une</option></select></div>
    <input type="submit" />
</form>