@model IEnumerable<TaskItem>

<table class="table">
    <thead>
        <th>Nom</th>
        <th>Description</th>
        <th>Catégorie</th>
        <th>Email</th>
        <th>Actions</th>
    </thead>
    <tbody>     
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.Category.Name</td>
                <td>@item.User</td>
                <td>
                    <button type="button" class="btn btn-default">
                        <a asp-controller="TaskItem" asp-action="AddTaskItemAsync"><span class="glyphicon glyphicon-pencil"></span></a>
                    </button>
                    <button type="button" class="btn btn-danger alert-danger">
                        <a asp-controller="TaskItem" asp-action="Delete"><span class="glyphicon glyphicon-remove-sign"></span></a>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>