@model IEnumerable<Category>

<table class="table">
    <thead>
        <th>Nom</th>
        <th>Actions</th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <a asp-controller="Category" asp-action="AddCategory"><span class="glyphicon glyphicon-pencil"></span></a>
                    <a class="btn btn-danger alert-danger" asp-controller="Category" asp-action="Delete" asp-route-id="@item.ID"><span class="glyphicon glyphicon-remove-sign"></span></a>
                </td>
            </tr>
        }
    </tbody>
</table>