@model IEnumerable<Category>

<table class="table">
    <thead>
        <th>Nom</th>
        <th>Actions</th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    <button type="button" class="btn btn-default">
                        <a asp-controller="Category" asp-action="AddCategory"><span class="glyphicon glyphicon-pencil"></span></a>
                    </button>
                    <button type="button" class="btn btn-danger alert-danger">
                        <a asp-controller="Category" asp-action="Delete"><span class="glyphicon glyphicon-remove-sign"></span></a>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>