@model Category
<p>Voulez-vous vraiment supprimer  @Model.Name ?</p>

<form asp-controller="Category" asp-action="Delete" method="POST">
    <input type="hidden" asp-for="ID" value=@Model.ID />
    <input type="submit" class="btn btn-danger" value="Supprimer"/>
</form>